<!--begin: My Cart -->
<div class="kt-header__topbar-item kt-header__topbar-item--user">
    <div class="kt-header__topbar-wrapper" data-offset="0px,0px">
        <div class="kt-header__topbar-user">
                <a href="/register" class="btn btn-label-warning btn-bold btn-icon-h"> Register</a> 
            <!-- <a href="/register"><span class="kt-badge kt-badge--brand  kt-badge--lg kt-badge--rounded kt-badge--inline kt-font-bold">Register</span></a> -->
        </div>
    </div>
</div>
<div class="kt-header__topbar-item kt-header__topbar-item--user">
    <div class="kt-header__topbar-wrapper" data-offset="0px,0px">
        <div class="kt-header__topbar-user">
               <!-- <a href=""> <span class="kt-badge kt-badge--dark  kt-badge--lg kt-badge--rounded kt-badge--inline kt-font-bold">Login</span></a> -->
               <a href="/login" class="btn btn-label-primary btn-bold"> Login</a> 
        </div>
    </div>
</div>
<!--end: My Cart -->