.kt-portlet#kt_portlet_tools_4 .kt-portlet__head{
    background-color: #374afb;
}

.kt-portlet#kt_portlet_tools_4 .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title{
color: white;
}

.fas.fa-plus-circle{
    cursor: pointer;
} 
.fas.fa-minus-circle{
    cursor: pointer;
} 

.dataTableText{
    display: block;
    color: #595d6e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

#notificationBox{
    /* float: right; */
    justify-content: flex-end;
}


#portlet-notification {
    overflow: auto;
    height: 60vh;
    min-width: 55rem;
}