<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->

<head>
    <meta charset="utf-8" />
    <title><%=title%></title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>            WebFont.load({
            google: {
                "families": [
                    "Poppins:300,400,500,600,700"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });        </script>
    <!--end::Fonts -->
    <link href="/assets/css/demo2/custom.css" rel="stylesheet" type="text/css" />
    <% if(page !== 'undefined' && page === 'dashboard_admin'){%>
    <link href="/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <%}%>
    <% if(page !== 'undefined' && page === 'account-details'){%>
    <!--begin::Page Custom Styles(used by this page) -->
    <link href="/assets/css/demo2/pages/wizard/wizard-4.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles -->
    <%}%>
    <% if(page !== 'undefined' && page === 'contact'){%>
		<!--begin::Page Custom Styles(used by this page) -->
		<link href="./assets/css/demo2/pages/support-center/faq-3.css" rel="stylesheet" type="text/css" />
		<link href="./assets/css/demo2/pages/support-center/feedback.css" rel="stylesheet" type="text/css" />
        <!--end::Page Custom Styles -->
        <%}%>
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="/assets/vendors/global/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/demo2/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->

    </head>
    <!-- end::Head -->
    <!-- begin::Body -->
    <body class="kt-page--loading-enabled kt-page--loading kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-all kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading" >
    <% include ../public2/partials/_layout-page-loader %>

    <% include ../public2/_layout %>
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>            var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#374afb",
                    "light": "#ffffff",
                    "dark": "#282a3c",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"]
                }
            }
        };        </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="/assets/vendors/global/vendors.bundle.js" type="text/javascript"></script>
    <script src="/assets/js/demo2/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!-- <script src="/metronic/themes/metronic/theme/default/demo1/dist/assets/js/pages/components/extended/bootstrap-notify.js" type="text/javascript"></script> -->
    <!--begin::Page Vendors(used by this page) -->
    <!-- <script src="../public2/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script> -->
    <!-- <script src="/maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM" type="text/javascript"></script> -->
    <!-- <script src="../public2/assets/vendors/custom/gmaps/gmaps.js" type="text/javascript"></script> -->
    <!-- <script src="../public2/assets/vendors/custom/gmaps/gmaps.js" type="text/javascript"></script> -->
    <!--end::Page Vendors -->
    <!--begin::Page Scripts(used by this page) -->
    <script src="/assets/js/demo2/pages/dashboard.js" type="text/javascript"></script>
    <% if(page !== 'undefined' && page === 'downloads' || page === 'dashboard_student'){ %>
    <!--begin::Page Vendors Styles(used by this page) -->

    <!-- <link href="../public2/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" /> -->
    <!--end::Page Vendors Styles -->
    <script src="/assets/js/demo2/pages/dashboard.js" type="text/javascript"></script>
    <script src="/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
    <script src="/assets/js/downloads.js"></script>
    <%}%>
    <% if(page !== 'undefined' && page === 'downloads'){ %>
    <script src="/assets/js/downloads.js"></script>
    <%}%>
    <% if(page !== 'undefined' && page === 'videos'){ %>
    <script src="/assets/js/videos.js"></script>
    <%}%>
    <% if(page !== 'undefined' && page === 'dashboard_student'){ %>
    <script src="/assets/js/studentDashboard.js"></script>
    <%}%>
    <% if(page !== 'undefined' && page === 'dashboard_admin'){ %>
    <script src="/assets/js/adminDashboard.js"></script>
    <%}%>
    <% if(page !== 'undefined' && page === 'dashboard_faculty'){ %>
    <script src="/assets/js/facultyDashboard.js"></script>
    <%}%>
    <% if(page !== 'undefined' && page === 'homepage'){ %>
    <script src="/assets/js/homepage.js"></script>
    <%}%>
    <% if(page !== 'undefined' && page === 'downloads_uploadform' || page === 'downloads_updateform'){ %>
    <script src="/assets/js/d_UploadUpdateForm.js"></script>
    <%}%>
    <% if(page !== 'undefined' && page === 'videos_uploadform' || page === 'videos_updateform'){ %>
    <script src="/assets/js/v_UploadUpdateForm.js"></script>
    <%}%>
    <% if(page !== 'undefined' && page === 'facultyprofile'){ %>
    <script src="/assets/js/facultyProfile.js"></script>
    <%}%>
    <% if(page !== 'undefined' && page === 'account-details'){ %>
    <script src="/assets/js/account_details.js"></script>
    <%}%>
    <% if(page !== 'undefined' && page === 'filter-form'){ %>
    <script src="/assets/js/filterform.js"></script>
    <%}%>
    <% if(page !== 'undefined' && page === 'filter-edit-form'){ %>
    <script src="/assets/js/filtereditform.js"></script>
    <%}%>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <!-- <script src="/assets/js/socket.js"></script> -->
    <script src="/assets/js/demo2/custom.js"></script>

    </body>
    <!-- end::Body -->
</html>