<!DOCTYPE html>

<html lang="en">

<!-- begin::Head -->

<head>

	<!--begin::Base Path (base relative path for assets of this page) -->
	<base href="../../../../">

	<!--end::Base Path -->
	<meta charset="utf-8" />
	<title>ExamClub | Register</title>
	<meta name="description" content="Register page example">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--begin::Fonts -->
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
	<script>
		WebFont.load({
			google: {
				"families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]
			},
			active: function () {
				sessionStorage.fonts = true;
			}
		});
	</script>

	<!--end::Fonts -->

	<!--begin::Page Custom Styles(used by this page) -->
	<link href="./assets/css/demo1/pages/login/register-6.css" rel="stylesheet" type="text/css" />

	<!--end::Page Custom Styles -->

	<!--begin::Global Theme Styles(used by all pages) -->
	<link href="./assets/vendors/global/vendors.bundle.css" rel="stylesheet" type="text/css" />
	<link href="./assets/css/demo1/style.bundle.css" rel="stylesheet" type="text/css" />

	<!--end::Global Theme Styles -->

	<!--begin::Layout Skins(used by all pages) -->
	<link href="./assets/css/demo1/skins/header/base/light.css" rel="stylesheet" type="text/css" />
	<link href="./assets/css/demo1/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
	<link href="./assets/css/demo1/skins/brand/dark.css" rel="stylesheet" type="text/css" />
	<link href="./assets/css/demo1/skins/aside/dark.css" rel="stylesheet" type="text/css" />

	<!--end::Layout Skins -->
	<!-- <link rel="shortcut icon" href="./assets/media/logos/favicon.ico" /> -->
</head>

<!-- end::Head -->

<!-- begin::Body -->

<body
	class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

	<!-- begin:: Page -->

	<div class="kt-grid kt-grid--ver kt-grid--root">

		<div class="kt-grid kt-grid--hor kt-grid--root  kt-register kt-register--v6 kt-register--signin"
			id="kt_register">
			<div
				class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
				<div
					class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-register__aside">
					<div class="kt-register__wrapper">
						<div class="kt-register__container">
							<div class="kt-register__body">
								<div class="kt-register__logo">
									<a href="#">
										<!-- <img src="./assets/media/company-logos/logo-2.png"> -->
									</a>
								</div>


								<div class="kt-register__signup">
									<div class="kt-register__head">
										<h3 class="kt-register__title">Sign Up!</h3>
										<div class="kt-register__desc">Enter your details to create your account:</div>
									</div>
									<div id="errorMessageRegister">
										<% if(error && error.length > 0) { %>
										<div class="alert alert-danger alert-dismissible fade show kt-alert kt-alert--outline m-0"
											role="alert">
											<span><%= error %></span>
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<% } %>
										<% if(success && success.length > 0) { %>
										<div class="alert alert-success alert-dismissible fade show" role="alert">
											<p><%= success %></p>
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<% } %>
									</div>
									<div class="kt-register__form">
										<form class="kt-form" id='registrationForm' onsubmit="return validateForm()"
											action="/register" method="POST">
											<div class="form-group">
												<input class="form-control" type="text" id="user[firstName]"
													name="user[firstName]" placeholder="First Name" required>
											</div>
											<div class="form-group">
												<input class="form-control" type="text" id="user[lastName]"
													name="user[lastName]" placeholder="Last Name" required>
											</div>
											<div class="form-group">
												<label for="user[dob]" style="padding-top: 1rem;">Date of Birth</label>
												<input class="form-control" type="date" name="user[dob]" id="user[dob]"
													required>
											</div>
											<div class="form-group" id="signup-city">
												<select class="form-control" id="user[city]" name="user[city]" required>
													<option value="" disabled selected> Your City</option>

													<optgroup label="Major Cities">
														<option style="padding:.3em" value="Mumbai">Mumbai</option>
														<option style="padding:.3em" value="New Delhi">New Delhi
														</option>
														<option style="padding:.3em" value="Ahmedabad">Ahmedabad
														</option>
														<option style="padding:.3em" value="Bangalore">Bangalore
														</option>
														<option style="padding:.3em" value="Chennai">Chennai</option>
														<option style="padding:.3em" value="Jaipur">Jaipur</option>
														<option style="padding:.3em" value="Hyderabad">Hyderabad
														</option>
														<option style="padding:.3em" value="Kolkata">Kolkata</option>
													</optgroup>

													<optgroup label="Andaman and Nicobar Islands">
														<option value="Port Blair">Port Blair</option>
													</optgroup>

													<optgroup label="Andhra Pradesh">
														<option value="Visakhapatnam">Visakhapatnam</option>
														<option value="Guntur">Guntur</option>
														<option value="Prakasam">Prakasam</option>
														<option value="East">East Godavari</option>
														<option value="Nellore">Nellore</option>
														<option value="Krishna">Krishna</option>
														<option value="Vizianagaram">Vizianagaram</option>
														<option value="Chittoor">Chittoor</option>
														<option value="Kadapa">Kadapa</option>
														<option value="Srikakulam">Srikakulam</option>
														<option value="Kurnool">Kurnool</option>
														<option value="Ananthapur">Ananthapur</option>
														<option value="Vijayawada">Vijayawada</option>
														<option value="Tirupati">Tirupati</option>
														<option value="Kakinada">Kakinada</option>
														<option value="Rajahmundhry">Rajahmundhry</option>
													</optgroup>

													<optgroup label="Arunachal Pradesh">
														<option value="Itanagar">Itanagar</option>
													</optgroup>

													<optgroup label="Assam">
														<option value="Guwahati">Guwahati</option>
													</optgroup>

													<optgroup label="Bihar">
														<option value="Patna">Patna</option>
													</optgroup>

													<optgroup label="Chandigarh">
														<option value="Chandigarh">Chandigarh</option>
													</optgroup>

													<optgroup label="Chhattisgarh">
														<option value="Raipur">Raipur</option>
														<option value="Durg">Durg</option>
														<option value="Bilaspur">Bilaspur</option>
														<option value="Bhilai">Bhilai</option>
													</optgroup>

													<optgroup label="Dadra and nagar Haveli">
														<option value="Nagar Haveli">Nagar Haveli</option>
													</optgroup>

													<optgroup label="Daman and Diu">
														<option value="Daman">Daman</option>
													</optgroup>

													<optgroup label="Goa">
														<option value="North Goa">North Goa</option>
													</optgroup>

													<optgroup label="Gujarat">
														<option value="Surat">Surat</option>
														<option value="Rajkot">Rajkot</option>
														<option value="Gandhi Nagar">Gandhi Nagar</option>
														<option value="Mehsana">Mehsana</option>
														<option value="Vadodara">Vadodara</option>
														<option value="Anand">Anand</option>
														<option value="Bhavnagar">Bhavnagar</option>
														<option value="Kachchh">Kachchh</option>
														<option value="Sabarkantha">Sabarkantha</option>
														<option value="Junagadh">Junagadh</option>
														<option value="Jamnagar">Jamnagar</option>
													</optgroup>

													<optgroup label="Haryana">
														<option value="Gurgaon">Gurgaon</option>
														<option value="Rohtak">Rohtak</option>
														<option value="Faridabad">Faridabad</option>
														<option value="Sonepat">Sonepat</option>
														<option value="Hisar">Hisar</option>
														<option value="Ambala">Ambala</option>
														<option value="Yamuna Nagar">Yamuna Nagar</option>
														<option value="Bhiwani">Bhiwani</option>
														<option value="Karnal">Karnal</option>
														<option value="Kurukshetra">Kurukshetra</option>
														<option value="Mahendragarh">Mahendragarh</option>
														<option value="Sirsa">Sirsa</option>
														<option value="Panipat">Panipat</option>
														<option value="Jind">Jind</option>
														<option value="Jhajjar">Jhajjar</option>
														<option value="Rewari">Rewari</option>
													</optgroup>

													<optgroup label="Himachal Pradesh">
														<option value="Solan">Solan</option>
														<option value="Shimla">Shimla</option>
														<option value="Kangra">Kangra</option>
														<option value="Hamirpur">Hamirpur</option>
														<option value="Mandi">Mandi</option>
													</optgroup>

													<optgroup label="Jammu and Kashmir">
														<option value="Jammu">Jammu</option>
														<option value="Srinagar">Srinagar</option>
													</optgroup>

													<optgroup label="Jharkhand">
														<option value="Ranchi">Ranchi</option>
														<option value="Jamshedpur">Jamshedpur</option>
													</optgroup>

													<optgroup label="Karnataka">
														<option value="Mangalore">Mangalore</option>
														<option value="Mysore">Mysore</option>
														<option value="Belgaum">Belgaum</option>
														<option value="Gulbarga">Gulbarga</option>
														<option value="Tumkur">Tumkur</option>
														<option value="Bijapur">Bijapur</option>
														<option value="Davanagere">Davanagere</option>
														<option value="Dharwad">Dharwad</option>
														<option value="Shimoga">Shimoga</option>
														<option value="Udupi">Udupi</option>
														<option value="Hassan">Hassan</option>
														<option value="Bidar">Bidar</option>
														<option value="Hubli">Hubli</option>
														<option value="Kolar">Kolar</option>
														<option value="Bagalkot">Bagalkot</option>
														<option value="Kannada">Kannada</option>
														<option value="Chitradurga">Chitradurga</option>
														<option value="Mandya">Mandya</option>
														<option value="Gadag">Gadag</option>
														<option value="Bellary">Bellary</option>
														<option value="Raichur">Raichur</option>

													</optgroup>
													<optgroup label="Kerala">
														<option value="Thiruvananthapuram">Thiruvananthapuram</option>
														<option value="Thrissur">Thrissur</option>
														<option value="Ernakulam">Ernakulam</option>
														<option value="Malappuram">Malappuram</option>
														<option value="Kochi">Kochi</option>
														<option value="Kottayam">Kottayam</option>
														<option value="Kannur">Kannur</option>
														<option value="Kozhikode">Kozhikode</option>
														<option value="Kollam">Kollam</option>
														<option value="Palakkad">Palakkad</option>
														<option value="Pathanamthitta">Pathanamthitta</option>
														<option value="Calicut">Calicut</option>
														<option value="Trivandrum">Trivandrum</option>
														<option value="Alappuzha">Alappuzha</option>
														<option value="Kasaragod">Kasaragod</option>
													</optgroup>

													<optgroup label="Madhya Pradesh">
														<option value="Bhopal">Bhopal</option>
														<option value="Indore">Indore</option>
														<option value="Gwalior">Gwalior</option>
														<option value="Jabalpur">Jabalpur</option>
														<option value="Ujjain">Ujjain</option>
														<option value="Sagar">Sagar</option>
														<option value="Chhatarpur">Chhatarpur</option>
													</optgroup>

													<optgroup label="Maharashtra">
														<option value="Pune">Pune</option>
														<option value="Nagpur">Nagpur</option>
														<option value="Aurangabad">Aurangabad</option>
														<option value="Nashik">Nashik</option>
														<option value="Kolhapur">Kolhapur</option>
														<option value="Ahmed Nagar">Ahmed Nagar</option>
														<option value="Thane">Thane</option>
														<option value="Jalgaon">Jalgaon</option>
														<option value="Solapur">Solapur</option>
														<option value="Sangli">Sangli</option>
														<option value="Amravati">Amravati</option>
														<option value="Satara">Satara</option>
														<option value="Navi Mumbai">Navi Mumbai</option>
														<option value="Beed">Beed</option>
														<option value="Dhule">Dhule</option>
														<option value="Wardha">Wardha</option>
														<option value="Raigarh">Raigarh</option>
														<option value="Ratnagiri">Ratnagiri</option>
														<option value="Latur">Latur</option>
														<option value="Yavatmal">Yavatmal</option>
														<option value="Chandrapur">Chandrapur</option>
														<option value="Nanded">Nanded</option>
														<option value="Akola">Akola</option>
													</optgroup>

													<optgroup label="Manipur">
														<option value="Imphal">Imphal</option>
													</optgroup>

													<optgroup label="Meghalaya">
														<option value="Shillong">Shillong</option>
													</optgroup>

													<optgroup label="Mizoram">
														<option value="Aizawl">Aizawl</option>
													</optgroup>

													<optgroup label="Nagaland">
														<option value="Dimapur">Dimapur</option>
													</optgroup>

													<optgroup label="Orissa">
														<option value="Bhubaneswar">Bhubaneswar</option>
														<option value="Cuttack">Cuttack</option>
													</optgroup>

													<optgroup label="Puducherry">
														<option value="Pondicherry">Pondicherry</option>
													</optgroup>

													<optgroup label="Punjab">
														<option value="Patiala">Patiala</option>
														<option value="Mohali">Mohali</option>
														<option value="Ludhiana">Ludhiana</option>
														<option value="Amritsar">Amritsar</option>
														<option value="Jalandhar">Jalandhar</option>
														<option value="Bathinda">Bathinda</option>
														<option value="Hoshiarpur">Hoshiarpur</option>
														<option value="Sangrur">Sangrur</option>
														<option value="Gurdaspur">Gurdaspur</option>
														<option value="Moga">Moga</option>
														<option value="Firozpur">Firozpur</option>
														<option value="Fatehgarh">Fatehgarh Sahib</option>
														<option value="Kapurthala">Kapurthala</option>
													</optgroup>

													<optgroup label="Rajasthan">
														<option value="Udaipur">Udaipur</option>
														<option value="Alwar">Alwar</option>
														<option value="Jodhpur">Jodhpur</option>
														<option value="Ajmer">Ajmer</option>
														<option value="Sikar">Sikar</option>
														<option value="Kota">Kota</option>
														<option value="Ganganagar">Ganganagar</option>
														<option value="Bikaner">Bikaner</option>
														<option value="Jhunjhunu">Jhunjhunu</option>
														<option value="Hanumangarh">Hanumangarh</option>
													</optgroup>

													<optgroup label="Sikkim">
														<option value="Gangtok">Gangtok</option>
													</optgroup>

													<optgroup label="Tamil Nadu">
														<option value="Coimbatore">Coimbatore</option>
														<option value="Namakkal">Namakkal</option>
														<option value="Kanyakumari">Kanyakumari</option>
														<option value="Salem">Salem</option>
														<option value="Madurai">Madurai</option>
														<option value="Vellore">Vellore</option>
														<option value="Kanchipuram">Kanchipuram</option>
														<option value="Erode">Erode</option>
														<option value="Tirunelveli">Tirunelveli</option>
														<option value="Thanjavur">Thanjavur</option>
														<option value="Villupuram">Villupuram</option>
														<option value="Dindigul">Dindigul</option>
														<option value="Trichy">Trichy</option>
														<option value="Tiruvannamalai">Tiruvannamalai</option>
														<option value="Cuddalore">Cuddalore</option>
														<option value="Thiruchirapalli">Thiruchirapalli</option>
														<option value="Thiruvallur">Thiruvallur</option>
														<option value="Pudukkottai">Pudukkottai</option>
														<option value="Dharmapuri">Dharmapuri</option>
														<option value="Thiruchirapalli">Thiruchirapalli</option>
														<option value="Thoothukudi">Thoothukudi</option>
														<option value="Sivaganga">Sivaganga</option>
														<option value="Perambalur">Perambalur</option>
														<option value="Virudhunagar">Virudhunagar</option>
														<option value="Tiruppur">Tiruppur</option>
														<option value="Nagapattinam">Nagapattinam</option>
														<option value="Karur">Karur</option>
													</optgroup>

													<optgroup label="Telangana">
														<option value="Rangareddi">Rangareddi</option>
														<option value="Warangal">Warangal</option>
														<option value="Nalgonda">Nalgonda</option>
														<option value="Karim Nagar">Karim Nagar</option>
														<option value="Khammam">Khammam</option>
														<option value="Secunderabad">Secunderabad</option>
														<option value="Mahabub Nagar">Mahabub Nagar</option>
														<option value="Nizamabad">Nizamabad</option>
														<option value="Medak">Medak</option>
													</optgroup>

													<optgroup label="Tripura">
														<option value="Agartala">Agartala</option>
													</optgroup>

													<optgroup label="Uttar Pradesh">
														<option value="Lucknow">Lucknow</option>
														<option value="Meerut">Meerut</option>
														<option value="Ghaziabad">Ghaziabad</option>
														<option value="Noida">Noida</option>
														<option value="Kanpur">Kanpur</option>
														<option value="Allahabad">Allahabad</option>
														<option value="Agra">Agra</option>
														<option value="Greater Noida">Greater Noida</option>
														<option value="Varanasi">Varanasi</option>
														<option value="Bareilly">Bareilly</option>
														<option value="Mathura">Mathura</option>
														<option value="Aligarh">Aligarh</option>
														<option value="Moradabad">Moradabad</option>
														<option value="Saharanpur">Saharanpur</option>
														<option value="Bijnor">Bijnor</option>
														<option value="Jaunpur">Jaunpur</option>
														<option value="Gorakhpur">Gorakhpur</option>
														<option value="Muzaffarnagar">Muzaffarnagar</option>
														<option value="Sultanpur">Sultanpur</option>
													</optgroup>

													<optgroup label="Uttarakhand">
														<option value="Dehradun">Dehradun</option>
														<option value="Haridwar">Haridwar</option>
														<option value="Nainital">Nainital</option>
														<option value="Roorkee">Roorkee</option>
														<option value="Garhwal">Garhwal</option>
													</optgroup>

													<optgroup label="West Bengal">
														<option value="Bardhaman">Bardhaman</option>
														<option value="Murshidabad">Murshidabad</option>
														<option value="Hooghly">Hooghly</option>
														<option value="Medinipur">Medinipur</option>
														<option value="North">North 24 Parganas</option>
														<option value="Nadia">Nadia</option>
														<option value="Midnapore">Midnapore</option>
														<option value="Durgapur">Durgapur</option>
														<option value="Howrah">Howrah</option>
													</optgroup>
													<optgroup label="Other">
														<option value="Other">Other</option>
													</optgroup>
												</select>
											</div>
											<div class="form-group">
												<input class="form-control" type="text" id="user[username]"
													name="username" placeholder="Username">
											</div>
											<div class="form-group">
												<input class="form-control" type="password" id="password"
													name="password" placeholder="Password">
											</div>
											<div class="form-group">
												<input class="form-control" type="password" id='confirmPassword'
													placeholder="Confirm Password" name="conpassword">
											</div>
											<div class="form-group">
												<input class="form-control" type="text" id="user[email]"
													placeholder="Email" name="user[email]" required>
												<span class="form-text text-muted">Please provide a valid Email for
													verification purposes.</span>
											</div>
											<div class="form-group">
												<input class="form-control" type="number" id="user[mobile]"
													name="user[mobile]" placeholder="Mobile No" required>
												<span class="form-text text-muted">Please provide a valid number for
													verification purposes.</span>
											</div>
											<div class="form-group form-control-last signup-ac-type" id="signup-actype">
												<label>A/c Type</label>
												<div class="kt-radio-inline ">
													<label class="kt-radio">
														<input class="form-control" type="radio" name="actype"
															id="isStudent" value="isStudent" checked
															onchange="return examField(this)"> Student
														<span></span>
													</label>
													<label class="kt-radio">
														<input class="form-control" type="radio" name="actype"
															id="isFaculty" value="isFaculty"
															onchange="return examField(this)"> Faculty
														<span></span>
													</label>
												</div>
												<span class="form-text text-muted">Faculty account will be activated
													only after the completion of additional verification
													procedures.</span>
											</div>
											<div class="form-group" id="signup-exam">
												<select class="form-control" id="userexam" name="user[exam]"
													placeholder="Exam" required>
													<option value="" disabled selected>Select Exam</option>
													<% exams.forEach(function(exam){%>
													<option value="<%=exam.exam%>"> <%=exam.exam%></option>
													<%})%>
													<option value="General">General</option>
												</select>
												<span class="form-text text-muted">Please select the exam you're
													appearing for.</span>
											</div>
											<div class="kt-register__extra">
												<label class="kt-checkbox">
													<input type="checkbox" id='termsandconditions'
														name="termsandconditions"> I have read and agreed to the <a href="/termsconditions" target="_blank">Terms and
														Conditions</a>, <a href="/cookiepolicy" target="_blank">Cookie Policy</a>, <a href="/privacypolicy" target="_blank">Privacy Policy</a> and <a href="/disclaimer" target="_blank">Disclaimer</a>
													<span></span>
												</label>
											</div>
											<div class="kt-register__actions">
												<button id="kt_register_signup_submit"
													class="btn btn-brand btn-pill btn-elevate">Sign Up</button>
												<button id="kt_register_signup_cancel"
													class="btn btn-outline-brand btn-pill">Cancel</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="kt-register__account">
							<span class="kt-register__account-msg">
								Already have an account?
							</span>&nbsp;&nbsp;
							<a href="/login" id="kt_register_signup" class="kt-register__account-link">Login!</a>
						</div>
					</div>
				</div>
				<div class="kt-grid__item kt-grid__item--fluid kt-grid__item--center kt-grid kt-grid--ver kt-register__content"
					style="background-image: url(./assets/media//bg/bg-4.jpg);">
					<div class="kt-register__section">
						<div class="kt-register__block">
							<h2 class="kt-register__title">ExamClub.io</h2>
							<div class="kt-register__desc">
								<p>Join Our Community!</p>
								At Examclub.io we strive to build a robust community that will
								<br>help you achieve your goals.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- end:: Page -->
	<script>
		async function examField(elem) {
			// alert('clicked');
			let radioOption = await $('input[name=actype]:checked', '#registrationForm').val();
			if (radioOption === 'isFaculty') {
				$('#userexam').removeAttr('required');
				$('#signup-exam').attr("hidden", true);
			}
			if (radioOption === 'isStudent') {
				$('#userexam').prop('required', true);
				$('#signup-exam').removeAttr('hidden');
			}
		}
	</script>
	<!-- begin::Global Config(global config for global JS sciprts) -->
	<script>
		var KTAppOptions = {
			"colors": {
				"state": {
					"brand": "#5d78ff",
					"dark": "#282a3c",
					"light": "#ffffff",
					"primary": "#5867dd",
					"success": "#34bfa3",
					"info": "#36a3f7",
					"warning": "#ffb822",
					"danger": "#fd3995"
				},
				"base": {
					"label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
					"shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
				}
			}
		};
	</script>

	<!-- end::Global Config -->

	<!--begin::Global Theme Bundle(used by all pages) -->
	<script src="./assets/vendors/global/vendors.bundle.js" type="text/javascript"></script>
	<script src="./assets/js/demo1/scripts.bundle.js" type="text/javascript"></script>

	<!--end::Global Theme Bundle -->

	<!--begin::Page Scripts(used by this page) -->
	<script src="./assets/js/register.js" type="text/javascript"></script>
	<!-- <script src="./assets/js/demo1/pages/login/login-general.js" type="text/javascript"></script> -->

	<!--end::Page Scripts -->
</body>

<!-- end::Body -->

</html>