<!-- begin:: Page -->
<% include ./partials/_header-base-mobile %>
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <!-- begin:: Header -->
            <div id='email-Verification-clicks'>
                <div id="kt_header" class="kt-header kt-grid__item kt-header--fixed " data-ktheader-minimize="on">
                    <div class="kt-header__top">
                        <div class="kt-container kt-container--fluid ">
                            <% include ./partials/_header-brand %>
                            <div class="kt-container kt-container--fluid ">
                                <% include ./partials/_header-menu %>
                            </div>
                            <% include ./partials/_header-topbar %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end:: Header -->
            <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
                <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                    <% include ./partials/_email-verification %>
                </div>
            </div>
            <% include ./partials/_footer-base %>
        </div>
    </div>
</div>
<!-- end:: Page -->

<!-- include ./partials/_layout-quick-panel -->
<% include ./partials/_layout-scrolltop %>