<!-- begin:: Page -->
<% include ./partials/_header-base-mobile %>
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <% include ./partials/_header-base %>
            <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
                <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                  <% include ./partials/_content-facultyprofile %>
                </div>
            </div>
            <% include ./partials/_footer-base %>
        </div>
    </div>
</div>
<!-- end:: Page -->

<% include ./partials/_layout-quick-panel %>
<% include ./partials/_layout-scrolltop %>
<% include ./partials/_layout-toolbar %>
<% include ./partials/_layout-demo-panel %>
<% include ./partials/_layout-chat %>