<% include ./_subheader-subheader-v2 %>
<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">

    <div class="mt-5">
    <form action="/forgot-password?_method=PUT" method="POST">
        <div class="kt-form kt-form--label-right">
            <div class="kt-form__body">
                <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                        <div class="row">
                            <div class="col-lg-9 col-xl-6">
                                <h3 class="kt-section__title kt-section__title-sm">Recover
                                    Your Password:</h3>
                            </div>
                        </div>
                        <div class="row">
                            <label for="fp-email" class="col-lg-2 col-xl-2 col-form-label text-center">Email Address</label>
                            <div class="col-lg-4 col-xl-4">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i
                                                class="la la-at"></i></span></div>
                                    <input type="text" id="fp-email" name="email" class="form-control" value=""
                                        placeholder="Enter Email ID" aria-describedby="basic-addon1">
                                </div>
                                <span class="form-text text-muted">Enter your registered email address on which we will
                                    send you a password reset link.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-separator kt-separator--space-lg kt-separator--fit kt-separator--border-solid">
            </div>
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-lg-9 col-xl-6">
                        <button type="submit" class="btn btn-label-brand btn-bold">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>









</div>
<!-- end:: Content -->