<% include ./_subheader-subheader-v2 %>
<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">


        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-infobox">
                    <div class="kt-infobox__header">
                        <h2 class="kt-infobox__title">Disclaimer</h2>
                    </div>
                    <div class="kt-infobox__body">
                        <div class="kt-infobox__section">
                            <h3 class="kt-infobox__subtitle"></h3>
                            <div class="kt-infobox__content">
                                By using the services of examclub.io, you expressly understand and agree that: <br>
                                <p>Your use of the service is solely at your own risk. The service is provided as an "as
                                    is" and "as available" basis only. Examclub.io expressly disclaims all warranties of
                                    any kind, whether express or implied, including, but not limited to the implied
                                    warranties of merchantability, fitness for a particular purpose and
                                    non-infringement.</p>
                                <p>Examclub.io makes no warranty/guarantee that
                                    <ul>
                                        <li>i. The service will meet your requirements</li>
                                        <li>ii. The service will be uninterrupted, timely, secure, or error free.</li>
                                        <li>iii. The information on this Website is complete, true, accurate or
                                            non-misleading.</li>
                                        <li>iv. The quality of any products, services, information, or other material
                                            purchased or obtained by you through the use of the service will meet your
                                            expectations.</li>
                                        <li>v. Any errors in the software will be corrected.</li>
                                        <li>vi. Any material downloaded or otherwise obtained through the use of the
                                            service is done at your own discretion and risk that you will be solely
                                            responsible for any damage to your computer system or loss of data that
                                            results from the download of any such material.</li>
                                        <li>vii. The results that may be obtained from the use of this service will be
                                            accurate or reliable.</li>
                                    </ul>

                                    No Advice or information, whether oral or written obtained by you from examclub.io,
                                    or through the service shall create any warranty/liability against examclub.io or
                                    any of its owners.
                                    The material contained on this site and on the associated web pages is general
                                    information and is not intended to be advice on any particular matter. Subscribers
                                    and readers should seek appropriate professional advice before acting on the basis
                                    of any information contained herein. examclub.io, its members, owners, employees,
                                    agents, representatives and the authors expressly disclaim any and all liability to
                                    any person, whether a subscriber or not, in respect of anything and of the
                                    consequences of anything done or omitted to be done by any such person in reliance
                                    upon the contents of this site and associated web pages.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



</div>
<!-- end:: Content -->