<% include ./_subheader-subheader-v2 %>
<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
<!--------------------------Download - Upload - CREATE Form(GET)------------------------>

<div class="container uploadera">
    <h2 class="pb-3">Upload a file</h2>
    
    <form action="/downloads" method="POST" enctype="multipart/form-data">
     
      <div class="form-group row">
        <label for="download[author]" class="col-sm-2 col-form-label">Author</label>
        <% if(!currentUser.isAdmin){%>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="download[author]" name="download[author][username]" value="<%=currentUser.username%>" readonly>
          </div>
            <%} else if (currentUser.isAdmin) { %>
              <select class="form-control col-sm-4 author"  id="download[author]" name="download[author][username]"></select>
            <!-- <input type="text" class="form-control" id="download[author]_update" name="download[author][username]" placeholder="Author name..."> -->
            <%}%>
      
      </div>
      
      <div class="form-group row">
        <label for="download[title]" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="download[title]" name="download[title]" placeholder="Title">
        </div>
      </div>
      
    
      <div class="form-group row">
        <label for="document" class="col-sm-2 col-form-label">File</label>
        <div class="col-sm-4">
          <input type="file" class="form-control-file" id="document" name ="document">
        </div>
      </div>
      
      <div class="form-group row">
        <label for="download[description]" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
        <textarea class="form-control" id="download[description]" name="download[description]" rows="3" aria-describedby="descriptionHelpBlock"></textarea>
         <small id="descriptionHelpBlock" class="form-text text-muted">
          Write a brief description about the file you are uploading.
        </small>
        </div>
      </div>
      
    <!------------------------------------------Topic--------------------------------->
      <!-- <div class="form-group row">
        <label for="download[topic]" class="col-sm-2 col-form-label">Topic</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="download[topic]" name="download[topic]" placeholder="Topic">
           <small id="descriptionHelpBlock" class="form-text text-muted">
            Provide details of the topics covered by the file being uploaded.  
           </small>
        </div>
      </div> -->
    
    <!------------------------------------------Exam--------------------------------->
    <div class="form-group row">
        <label class="col-sm-2" for="downloadExamFormControlSelect">Applicable Exam:</label>
        <select class="form-control col-sm-4" id="downloadExamFormControlSelect" name="download[exam]">
          <option value="" disabled selected>Choose Exam..</option>
          <option value="CA Final(New)">CA Final(New)</option>
          <option value="CA Final(Old)">CA Final(Old)</option>
          <option value="CA Intermediate(New)">CA Intermediate(New)</option>
          <option value="CA IPCC(Old)">CA IPCC(Old)</option>
          <option value="CA Foundation">CA Foundation</option>
          <option value="General">General</option>
        </select>
      </div>
    <!------------------------------------------Subject--------------------------------->
      <!-- <div class="form-group row">
          <label class="col-sm-2" for="downloadSubjectSelect">Applicable Subject:</label>
          <select class="form-control col-sm-4 subject" id="downloadSubjectSelect" name="download[subject]">
            <option disabled selected>Subject</option>
            <option disabled >First select the exam option</option>
          </select>
        </div> -->
      
    <!------------------------------------------Attempts--------------------------------->
      <div class="form-group row">
        <label class="col-sm-2" for="downloadAttemptFormControlSelect">Applicable Attempt:</label>
        <select class="form-control col-sm-4" id="downloadAttemptFormControlSelect" name="download[attempt]">
          <option value="Nov 2019">Nov 2019</option>
          <option value="May 2020">May 2020</option>
          <option value="Nov 2020">Nov 2020</option>
          <option value="May 2021">May 2021</option>
          <option value="Nov 2021">Nov 2021</option>
          <!--<option value="General">General</option>-->
        </select>
      </div>
      
      <!------------------------------------------Subjects(Old)--------------------------------->
      <div class="form-group row">
        <label class="col-md-2" id="downloadSubjectsFormControlSelectLabel" for="downloadSubjectsFormControlSelect">Subject:</label>
        <select class="form-control col-md-3 mr-2 mb-3" id="downloadSubjectsFormControlSelect1" name="download[subject]" disabled="true">
              <option disabled selected>CA Final (New)</option>
              <option value="P1: Financial Reporting">P1: Financial Reporting</option>
              <option value="P2: Strategic Financial Management">P2: Strategic Financial Management</option>
              <option value="P3: Advanced Auditing and Professional Ethics">P3: Advanced Auditing and Professional Ethics</option>
              <option value="P4: Corporate & Economic Laws">P4: Corporate & Economic Laws</option>
              <option value="P5: Strategic Cost Management and Performance Evaluation">P5: Strategic Cost Management and Performance Evaluation</option>
              <option value="P6A: Risk Management">P6A: Risk Management</option>
              <option value="P6B: Financial Services & Capital Markets">P6B: Financial Services & Capital Markets</option>
              <option value="P6C: International Taxation">P6C: International Taxation</option>
              <option value="P6D: Economic Laws">P6D: Economic Laws</option>
              <option value="P6E: Global Financial Reporting Standards">P6E: Global Financial Reporting Standards</option>
              <option value="P6F: Multi-disciplinary Case Study">P6F: Multi-disciplinary Case Study</option>
              <option value="P7: Direct Tax Laws & International Taxation">P7: Direct Tax Laws & International Taxation</option>
              <option value="P8: Indirect Tax Laws">P8: Indirect Tax Laws</option>
              <option value="General">General</option>
        </select>
        
       <select class="form-control col-md-3 mr-2 mb-3" id="downloadSubjectsFormControlSelect4" name="download[subject]" disabled="true">
            <option disabled selected>CA Final(Old)</option>
            <option value="P1: Financial Reporting">P1: Financial Reporting</option>
            <option value="P2: Strategic Financial Management">P2: Strategic Financial Management</option>
            <option value="P3: Advanced Auditing and Professional Ethics">P3: Advanced Auditing and Professional Ethics</option>
            <option value="P4: Corporate and Allied Laws">P4A: Corporate and Allied Laws</option>
            <option value="P5: Advanced Management Accounting">P5: Advanced Management Accounting</option>
            <option value="P6: Information Systems Control and Audit">P6: Information Systems Control and Audit</option>
            <option value="P7: Direct Tax Laws">P7: Direct Tax Laws</option>
            <option value="P8:  Indirect Tax Laws">P8:  Indirect Tax Laws</option>
            <option value="General">General</option>
        </select>
        
        <select class="form-control col-md-3 mr-2 mb-3" id="downloadSubjectsFormControlSelect2" name="download[subject]" disabled="true">
              <option disabled selected>CA Intermediate(New)</option>
              <option value="P1: Accounting">P1: Accounting</option>
              <option value="P2: Corporate & Other Law">P2: Corporate & Other Law</option>
              <option value="P3: Cost and Management Accounting">P3: Cost and Management Accounting</option>
              <option value="P4A: Income-tax law">P4A: Income-tax law</option>
              <option value="P4B: Indirect Taxes">P4B: Indirect Taxes</option>
              <option value="P5: Advanced Accounting">P5: Advanced Accounting</option>
              <option value="P6: Auditing and Assurance">P6: Auditing and Assurance</option>
              <option value="P7A: Enterprise Information Systems">P7A: Enterprise Information Systems</option>
              <option value="P7B: Strategic Management">P7B: Strategic Management</option>
              <option value="P8A: Financial Management">P8A: Financial Management</option>
              <option value="P8B: Economics for Finance">P8B: Economics for Finance</option>
              <option value="General">General</option>
        </select>
        
        
        <select class="form-control offset-md-2 col-md-3 mr-2 mb-3" id="downloadSubjectsFormControlSelect5" name="download[subject]" disabled="true">
              <option disabled selected>CA IPCC(Old)</option>
              <option value="P1: Accounting">P1: Accounting</option>
              <option value="P2: Business Laws, Ethics and Communication">P2: Business Laws, Ethics and Communication</option>
              <option value="P3: Cost Accounting and Financial Management">P3: Cost Accounting and Financial Management</option>
              <option value="P4: Taxation">P4: Taxation</option>
              <option value="P5: Advanced Accounting">P5: Advanced Accounting</option>
              <option value="P6: Risk Management">P6: Risk Management</option>
              <option value="P7: Information Technology and Strategic Management">P7: Information Technology and Strategic Management</option>
              <option value="General">General</option>
        </select>
        
        <select class="form-control col-md-3 mr-2 mb-3" id="downloadSubjectsFormControlSelect3" name="download[subject]" disabled="true" margin>
              <option disabled selected>CA Foundation</option>
              <option value="P1: Principles and Practice of Accounting">P1: Principles and Practice of Accounting</option>
              <option value="P2A: Business Laws">P2A: Business Laws</option>
              <option value="P2B: Business Correspondence and Reporting">P2B: Business Correspondence and Reporting</option>
              <option value="P3: Business Mathematics and Logical Reasoning & Statistics">P3: Business Mathematics and Logical Reasoning & Statistics</option>
              <option value="P4I: Business Economics">P4I: Business Economics</option>
              <option value="P4II: Business and Commercial Knowledge">P4II: Business and Commercial Knowledge</option>
              <option value="General">General</option>
        </select>
        
      </div>
    
      
      <div class="form-group row">
        <div class="col-sm-12">
          <div class="download_submit1">
            <button type="submit" class="btn btn-primary download_submit">Submit</button>
          </div>
        </div>
      </div>
    </form>
    </div>
    
    

</div>
<!-- end:: Content -->