<% include ./_subheader-subheader-v2 %>
<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--height-fluid kt-sc-2">
        <div class="kt-portlet__body">
            <div class="kt-infobox">
                <div class="kt-infobox__header">
                    <h2 class="kt-infobox__title">Cookie Policy</h2>
                </div>
                <div class="kt-infobox__body">
                    <div class="kt-infobox__section">
                        <h3 class="kt-infobox__subtitle"></h3>
                        <div class="kt-infobox__content">
                            This Cookie Policy ("Cookie Policy") is a part of and incorporated within and is to be read
                            along with the Terms of Website Use ("Terms"). The capitalized terms used in this Cookie
                            Policy, but not defined herein, shall have the meaning given to such terms in the Terms of
                            Service.
                        </div>
                    </div>
                    <!--begin::Accordion-->
                    <div class="accordion accordion-light accordion--no-bg accordion-svg-icon" id="accordionExample1">
                        <div class="card">
                            <div class="card-header" id="headingOne1">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne1"
                                    aria-expanded="false" aria-controls="collapseOne1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                        class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                            <path
                                                d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                fill="#000000" fill-rule="nonzero"></path>
                                            <path
                                                d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                fill="#000000" fill-rule="nonzero" opacity="0.3"
                                                transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) ">
                                            </path>
                                        </g>
                                    </svg> What are cookies and local storage?
                                </div>
                            </div>
                            <div id="collapseOne1" class="collapse" aria-labelledby="headingOne1"
                                data-parent="#accordionExample1">
                                <div class="card-body">
                                    <p>Cookies are small files that the websites place on your computer/device as you
                                        browse the web. Like many websites, we use cookies to discover how people are
                                        using our services and to make them work better.</p>
                                    <p>Local storage is an industry standard technology that allows a website or
                                        application to store information locally on your computer or mobile device. We
                                        use local storage to customize what we show you based on your past interactions
                                        with the Website.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo1">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo1"
                                    aria-expanded="false" aria-controls="collapseTwo1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                        class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                            <path
                                                d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                fill="#000000" fill-rule="nonzero"></path>
                                            <path
                                                d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                fill="#000000" fill-rule="nonzero" opacity="0.3"
                                                transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) ">
                                            </path>
                                        </g>
                                    </svg> Why do we use these technologies?
                                </div>
                            </div>
                            <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1"
                                data-parent="#accordionExample1">
                                <div class="card-body">
                                    <p>We use these technologies for the following:</p>
                                    <ul>
                                        <li>Make the Website easier or faster to use;</li>
                                        <li>Enable features and store information about you (including on your device or
                                            in your browser cache) and your use of the Website;</li>
                                        <li>Deliver, understand and improve advertising;</li>
                                        <li>Monitor and understand the use of our products and services;</li>
                                        <li>Protect you, others and the Website;</li>
                                        <li>Speed up your future activities and experience on our Website (such as
                                            showing you a popup only once in your visit) ; and</li>
                                        <li>Remember information about your browser and your preferences.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree1">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree1"
                                    aria-expanded="false" aria-controls="collapseThree1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                        class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                            <path
                                                d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                fill="#000000" fill-rule="nonzero"></path>
                                            <path
                                                d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                fill="#000000" fill-rule="nonzero" opacity="0.3"
                                                transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) ">
                                            </path>
                                        </g>
                                    </svg> Third-party Cookies
                                </div>
                            </div>
                            <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1"
                                data-parent="#accordionExample1">
                                <div class="card-body">
                                    <li> We also use third party advertisements on examclub.io to support our Website
                                        and provide our users with free services. Some of these advertisers may use
                                        technology such as cookies and web beacons when they advertise on our site,
                                        which will also send these advertisers (such as Google through the Google
                                        AdSense program) information including your IP address, your ISP, the browser
                                        you used to visit our site, and in some cases, whether you have Flash installed.
                                        This is generally used for geo-targeting purposes (showing New York real estate
                                        ads to someone in New York, for example) or showing certain ads based on
                                        specific sites visited (such as showing cooking ads to someone who frequents
                                        cooking sites).</li>
                                    <li> We cannot identify you personally from this information.</li>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour1">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseFour1"
                                    aria-expanded="false" aria-controls="collapseFour1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                        class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                            <path
                                                d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                fill="#000000" fill-rule="nonzero"></path>
                                            <path
                                                d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                fill="#000000" fill-rule="nonzero" opacity="0.3"
                                                transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) ">
                                            </path>
                                        </g>
                                    </svg> What types of cookies do we use?
                                </div>
                            </div>
                            <div id="collapseFour1" class="collapse" aria-labelledby="headingFour1"
                                data-parent="#accordionExample1">
                                <div class="card-body">
                                    <li>
                                        Two types of cookies may be used on the Website - "session cookies" and
                                        “persistent cookies".
                                    </li>

                                    <li>Session cookies are temporary cookies that remain on your device until you leave
                                        the Website. A persistent cookie remains on your device for much longer or until
                                        you manually delete it (how long the cookie remains on your device will depend
                                        on the duration or "lifetime" of the specific cookie and your browser settings).
                                    </li>
                                    <li>Some of the pages you visit may also collect information using pixel tags (also
                                        called clear gifs) that may be shared with third parties which directly support
                                        our promotional activities and website development. For example, website usage
                                        information about visitors of the Website may be shared with our third party
                                        advertising agency to better target internet banner advertisements on our
                                        Website. The information is not, however, personally identifiable, although it
                                        could be linked to your personal information.
                                    </li>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive1">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseFive1"
                                    aria-expanded="false" aria-controls="collapseFive1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                        class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                            <path
                                                d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                fill="#000000" fill-rule="nonzero"></path>
                                            <path
                                                d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                fill="#000000" fill-rule="nonzero" opacity="0.3"
                                                transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) ">
                                            </path>
                                        </g>
                                    </svg> Cookies used on the Website
                                </div>
                            </div>
                            <div id="collapseFive1" class="collapse" aria-labelledby="headingFive1"
                                data-parent="#accordionExample1">
                                <div class="card-body">
                                    <div class="kt-section__content">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="align-middle text-center">#</th>
                                                        <th class="align-middle text-center">Type of Cookie</th>
                                                        <th class="align-middle text-center">What do they do?</th>
                                                        <th class="align-middle text-center">Do these cookies collect my personal data / identify me?
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th class="align-middle" scope="row">1</th>
                                                        <td class="align-middle">Necessary</td>
                                                        <td class="align-middle">These cookies are essential to make our Website work
                                                            correctly, they enable you to move around our Website and
                                                            use our features.
                                                            Examples include remembering previous actions (e.g. entered
                                                            text) when navigating back to a page in the same session.
                                                        </td>
                                                        <td class="align-middle">These cookies don’t identify you as an individual. If you do
                                                            not accept these cookies, it may affect the performance of
                                                            the Website, or parts of it.</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="align-middle" scope="row">2</th>
                                                        <td class="align-middle">Performance</td>
                                                        <td class="align-middle">These cookies help us understand how visitors interact with
                                                            our Website by providing information about the areas
                                                            visited, the time spent on the Website, and any issues
                                                            encountered, such as error messages. This helps us improve
                                                            the performance of our Website.</td>
                                                        <td class="align-middle">These cookies don’t identify you as an individual. All data
                                                            is collected and aggregated anonymously.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="align-middle" scope="row">3</th>
                                                        <td class="align-middle">Functionality</td>
                                                        <td class="align-middle">These cookies allow our Website to remember the choices you
                                                            make (such as your user name, language or the region you are
                                                            in) to provide a more personalized online experience.</td>
                                                        <td class="align-middle">The information these cookies collect may include personally
                                                            identifiable information that you have disclosed, such as
                                                            your username or profile picture. We shall always be
                                                            transparent with you about what information we collect, what
                                                            we do with it and with whom we share it. If you do not
                                                            accept these cookies, it may affect the performance and
                                                            functionality of the Website and may restrict access to
                                                            content on the Website.</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="align-middle" scope="row">4</th>
                                                        <td class="align-middle">Targeting / Advertising</td>
                                                        <td class="align-middle">These cookies are used to deliver content that is more
                                                            relevant to you and your interests. They may be used to
                                                            deliver targeted advertising or to limit the number of times
                                                            you see an advertisement. They also help us measure the
                                                            effectiveness of advertising campaigns. We may use these
                                                            cookies to remember websites you have visited and we may
                                                            share this information with other parties, including
                                                            advertisers and our agencies.</td>
                                                        <td class="align-middle">Most types of these cookies track consumers via their IP
                                                            address so may collect some personal identifiable
                                                            information.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSix1">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseSix1"
                                    aria-expanded="false" aria-controls="collapseSix1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                        class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                            <path
                                                d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                fill="#000000" fill-rule="nonzero"></path>
                                            <path
                                                d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                fill="#000000" fill-rule="nonzero" opacity="0.3"
                                                transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) ">
                                            </path>
                                        </g>
                                    </svg> Where are these technologies used?
                                </div>
                            </div>
                            <div id="collapseSix1" class="collapse" aria-labelledby="headingSix1"
                                data-parent="#accordionExample1">
                                <div class="card-body">
                                    We use these technologies on our own Website and services and on other Website that
                                    have integrated our services. This includes our advertising and platform partners’.
                                    Third parties may also use these technologies, for example, when you interact with
                                    their content from within our services, like when you click a link or stream media
                                    on the Website from a third-party service, and to help with the delivery of ads
                                    shown on and off of the Website.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSeven1">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseSeven1"
                                    aria-expanded="false" aria-controls="collapseSeven1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                        class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                            <path
                                                d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                fill="#000000" fill-rule="nonzero"></path>
                                            <path
                                                d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                fill="#000000" fill-rule="nonzero" opacity="0.3"
                                                transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) ">
                                            </path>
                                        </g>
                                    </svg> Do we use Third Party Cookies?
                                </div>
                            </div>
                            <div id="collapseSeven1" class="collapse" aria-labelledby="headingSeven1"
                                data-parent="#accordionExample1">
                                <div class="card-body">
                                    <p>We use a number of suppliers that may also set cookies on your device on our
                                        behalf when you visit the Website to allow them to deliver the services they are
                                        providing.</p>
                                    <p>When you visit the Website you may receive cookies from third party websites or
                                        domains. More information about these cookies may be available on the relevant
                                        third party's website.</p>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingEight1">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseEight1"
                                    aria-expanded="false" aria-controls="collapseEight1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                        class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                            <path
                                                d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                fill="#000000" fill-rule="nonzero"></path>
                                            <path
                                                d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                fill="#000000" fill-rule="nonzero" opacity="0.3"
                                                transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) ">
                                            </path>
                                        </g>
                                    </svg> Additional Information about Third Party Analytics in use on our Website:
                                </div>
                            </div>
                            <div id="collapseEight1" class="collapse" aria-labelledby="headingEight1"
                                data-parent="#accordionExample1">
                                <div class="card-body">
                                    <ul>
                                        <li>Facebook Connect. For more information about what Facebook collects when you
                                            use Facebook buttons on the Website, please see: Data Policy.</li>
                                        <li>Twitter. For more information about what Twitter collects when you use our
                                            Website, please see: https://twitter.com/en/privacy.</li>
                                        <li>Google Analytics: For more information about Google Analytics cookies,
                                            please see Google's help pages and privacy policy:</li>
                                        <ul>
                                            <li>Google's Privacy Policy</li>
                                            <li>Google Analytics Help pages</li>
                                        </ul>
                                        <li>Please note that this is not an exhaustive list of all third party analytics
                                            providers that we work with.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingNine1">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseNine1"
                                    aria-expanded="false" aria-controls="collapseNine1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                        class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                            <path
                                                d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                                fill="#000000" fill-rule="nonzero"></path>
                                            <path
                                                d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                                fill="#000000" fill-rule="nonzero" opacity="0.3"
                                                transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) ">
                                            </path>
                                        </g>
                                    </svg> How can you control Cookies?
                                </div>
                            </div>
                            <div id="collapseNine1" class="collapse" aria-labelledby="headingNine1"
                                data-parent="#accordionExample1">
                                <div class="card-body">
                                    <li>Most internet browsers are initially set up to automatically accept cookies. You
                                        can change the settings to block cookies or to alert you when cookies are being
                                        sent to your device. There are a number of ways to manage cookies. Please refer
                                        to your browser instructions or help screen to learn more about how to adjust or
                                        modify your browser settings.</li>
                                    <li>If you disable the cookies that we use, this may impact your experience while on
                                        the Website, for example you may not be able to visit certain areas of the
                                        Website or you may not receive personalized information when you visit the
                                        Website or you may also be unable to login to services or programs, such as
                                        logging into forums or accounts.</li>
                                    <li>If you use different devices to view and access the Website (e.g. your computer,
                                        smartphone, tablet etc.) you will need to ensure that each browser on each
                                        device is adjusted to suit your cookie preferences.</li>
                                    <li><span class="font-weight-bold">Changing your Cookie Settings.<span> The browser
                                                settings for changing your cookies settings are usually found in the
                                                'options' or 'preferences' menu of your internet browser. In order to
                                                understand these settings, the following links may be helpful. Otherwise
                                                you should use the 'Help' option in your internet browser for more
                                                details.</li>
                                    <ul>
                                    <li>Cookie settings in Internet Explorer</li>
                                    <li>Cookie settings in Firefox</li>
                                    <li>Cookie settings in Chrome</li>
                                    <li>Cookie settings in Safari</li>
                                    </ul>
                                    <li><span class="font-weight-bold">More information.</span> To find out more about
                                        cookies, including how to see what cookies have been set and how to manage and
                                        delete them, visit <a href="https://www.aboutcookies.org/">About Cookies</a> or
                                        www.allaboutcookies.org.</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Accordion-->
                </div>
            </div>
        </div>
    </div>


</div>
<!-- end:: Content -->