<!--begin: Head -->
<div class="kt-head kt-head--skin-dark kt-head--fit-x kt-head--fit-b"
    style="background-image: url(/assets/media/misc/bg-1.jpg)">
    <h3 class="kt-head__title">
        User Notifications &nbsp; <span class="btn btn-success btn-sm btn-bold btn-font-md" id="notificationNo"></span>
    </h3>
    <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-success kt-notification-item-padding-x"
        role="tablist">
        <li class="nav-item"> 
            <a class="nav-link active show" data-toggle="tab"
                href="#topbar_notifications_notifications" role="tab" aria-selected="true">
                <%= currentUser && currentUser.exam ? currentUser.exam : "Notifications" %>
                <span id='subNotificationNo' class="kt-badge kt-badge kt-badge--danger"></span>
            </a>
        </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#topbar_notifications_allnotifications"
                role="tab" aria-selected="false">All</a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#topbar_notifications_logs" role="tab"
                aria-selected="false">Logs</a> </li>
    </ul>
</div>
<!--end: Head -->
<div class="tab-content">
    <div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel">
        <div id='notification_sockets' class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll"
            data-scroll="true" data-height="300" data-mobile-height="200">
            <!-- <a href="#" class="kt-notification__item">
                <div class="kt-notification__item-icon"> <i class="flaticon2-line-chart kt-font-success"></i> </div>
                <div class="kt-notification__item-details">
                    <div class="kt-notification__item-title"> New order has been received </div>
                    <div class="kt-notification__item-time"> 2 hrs ago </div>
                </div>
            </a> -->
        </div>
    </div>
    <div class="tab-pane" id="topbar_notifications_allnotifications" role="tabpanel">
        <div id='notification_all' class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true"
            data-height="300" data-mobile-height="200">
            <!-- <a href="#" class="kt-notification__item">
                <div class="kt-notification__item-icon"> <i class="flaticon2-psd kt-font-success"></i> </div>
                <div class="kt-notification__item-details">
                    <div class="kt-notification__item-title"> New report has been received </div>
                    <div class="kt-notification__item-time"> 23 hrs ago </div>
                </div>
            </a> -->
        </div>
    </div>
    <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
        <div class="kt-grid kt-grid--ver" style="min-height: 200px;">
            <div class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle">
                <div class="kt-grid__item kt-grid__item--middle kt-align-center">
                    All caught up!
                    <br>
                    No new notifications.
                </div>
            </div>
        </div>
    </div>
</div>