<!-- begin:: Footer -->
<div class="kt-footer kt-footer--extended kt-grid__item" id="kt_footer">
    <!-- <div class="kt-footer__top">
        <div class="kt-container ">
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-footer__section">
                        <h3 class="kt-footer__title">
                            About
                        </h3>
                        <div class="kt-footer__content">This is a website dedicated to the CA Fraternity. This website aims to ensure that the best study material is available to the students easily. At the same time this website ensures that the faculty and the content creators reap maximum rewards from the usage of their content. </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-footer__section">
                        <h3 class="kt-footer__title">
                            Quick Links
                        </h3>
                        <div class="kt-footer__content">
                            <div class="kt-footer__nav">
                                <div class="kt-footer__nav-section"><a href="/downloads">Downloads</a><a href="/videos">Videos</a><a href="/teachers">Faculty's Directory</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-footer__section">
                        <h3 class="kt-footer__title">
                            Subscribe for newsletter
                        </h3>
                        <div class="kt-footer__content">
                            <form action="/newsletter/subscription" method="POST" class="kt-footer__subscribe">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="subscriber" placeholder="Enter Your Email" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-brand" type="submit">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="kt-footer__bottom">
        <div class="kt-container ">
            <div class="kt-footer__wrapper">
                <div class="kt-footer__logo">
                    <!-- <a href="?page=index">
                        <img alt="Logo" src="">
                    </a> -->
                    <div class="kt-footer__copyright">2019&nbsp;&copy;&nbsp; <a href="" target="_blank">ExamClub.com</a></div>
                </div>
                <div class="kt-footer__menu"><a href="/cookiepolicy" target="_blank">Cookie Policy</a><a href="/termsconditions" target="_blank">Terms & Conditions</a><a href="/privacypolicy" target="_blank">Privacy Policy</a><a href="/disclaimer" target="_blank">Disclaimer</a><a href="/contact" target="_blank">Contact Us</a></div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Footer -->